# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Variáveis sensíveis
terraform.tfvars

# Planos
*.tfplan

# Logs
*.log
crash.log

# Sistema
.DS_Store

# Chaves SSH criadas por engano no diretório do projeto
luk
luk.pub

# Chaves privadas
*.pem
